\documentclass[a4,openany,oneside,twocolumn]{book}

\usepackage[justified]{dnd}
\usepackage{ifthen}

\usepackage{dndtemplate}
\usepackage{bookmark}

\setlength\oddsidemargin{\dimexpr(\paperwidth-\textwidth)/2 - 1in\relax}
\setlength\evensidemargin{\oddsidemargin}

% Headline
\CharacterName{[[X.name]]}

\Class{[[X.class_name|replace("_", " ")]] [[X.level]]}
\Background{[[X.origin]]}
\PlayerName{[[X.player_name]]}
\Race{[[X.species.name]]}
\Alignment{[[X.alignment]]}
\XP{Milestone}

% Ability scores
\StrengthScore{[[X.strength.value]]}    % [[X.strength.value.reason]]
\DexterityScore{[[X.dexterity.value]]}  % [[X.dexterity.value.reason]]
\ConstitutionScore{[[X.constitution.value]]}    % [[X.constitution.value.reason]]
\IntelligenceScore{[[X.intelligence.value]]}    % [[X.intelligence.value.reason]]
\WisdomScore{[[X.wisdom.value]]}        % [[X.wisdom.value.reason]]
\CharismaScore{[[X.charisma.value]]}    % [[X.charisma.value.reason]]

% Ability modifiers
\StrengthModifier{[[X.strength.modifier]]}
\DexterityModifier{[[X.dexterity.modifier]]}
\ConstitutionModifier{[[X.constitution.modifier]]}
\IntelligenceModifier{[[X.intelligence.modifier]]}
\WisdomModifier{[[X.wisdom.modifier]]}
\CharismaModifier{[[X.charisma.modifier]]}

% Saving Throws
\StrengthSavingThrowModifier{[[X.strength.saving_throw]]}
\DexteritySavingThrowModifier{[[X.dexterity.saving_throw]]}
\ConstitutionSavingThrowModifier{[[X.constitution.saving_throw]]}
\IntelligenceSavingThrowModifier{[[X.intelligence.saving_throw]]}
\WisdomSavingThrowModifier{[[X.wisdom.saving_throw]]}
\CharismaSavingThrowModifier{[[X.charisma.saving_throw]]}

\AcrobaticsSkillModifier{[[X.Acrobatics.modifier]]}             % [[X.Acrobatics.modifier.reason]]
\AnimalHandlingSkillModifier{[[X.Animal_Handling.modifier]]}    % [[X.Animal_Handling.modifier.reason]]
\ArcanaSkillModifier{[[X.Arcana.modifier]]}                     % [[X.Arcana.modifier.reason]]
\AthleticsSkillModifier{[[X.Athletics.modifier]]}               % [[X.Athletics.modifier.reason]]
\DeceptionSkillModifier{[[X.Deception.modifier]]}               % [[X.Deception.modifier.reason]]
\HistorySkillModifier{[[X.History.modifier]]}                   % [[X.History.modifier.reason]]
\InsightSkillModifier{[[X.Insight.modifier]]}                   % [[X.Insight.modifier.reason]]
\IntimidationSkillModifier{[[X.Intimidation.modifier]]}         % [[X.Intimidation.modifier.reason]]
\InvestigationSkillModifier{[[X.Investigation.modifier]]}       % [[X.Investigation.modifier.reason]]
\MedicineSkillModifier{[[X.Medicine.modifier]]}                 % [[X.Medicine.modifier.reason]]
\NatureSkillModifier{[[X.Nature.modifier]]}                     % [[X.Nature.modifier.reason]]
\PerceptionSkillModifier{[[X.Perception.modifier]]}             % [[X.Perception.modifier.reason]]
\PerformanceSkillModifier{[[X.Performance.modifier]]}           % [[X.Performance.modifier.reason]]
\PersuasionSkillModifier{[[X.Persuasion.modifier]]}             % [[X.Persuasion.modifier.reason]]
\ReligionSkillModifier{[[X.Religion.modifier]]}                 % [[X.Religion.modifier.reason]]
\SleightOfHandSkillModifier{[[X.Sleight_Of_Hand.modifier]]}     % [[X.Sleight_Of_Hand.modifier.reason]]
\StealthSkillModifier{[[X.Stealth.modifier]]}                   % [[X.Stealth.modifier.reason]]
\SurvivalSkillModifier{[[X.Survival.modifier]]}                 % [[X.Survival.modifier.reason]]

% Proficiencies
\SetStrengthProficiency{[[X.strength.proficient]]}
\SetDexterityProficiency{[[X.dexterity.proficient]]}
\SetConstitutionProficiency{[[X.constitution.proficient]]}
\SetIntelligenceProficiency{[[X.intelligence.proficient]]}
\SetWisdomProficiency{[[X.wisdom.proficient]]}
\SetCharismaProficiency{[[X.charisma.proficient]]}

\SetAcrobaticsProficiency{[[X.Acrobatics.proficient]]}          % [[X.Acrobatics.origin]]
\SetAnimalHandlingProficiency{[[X.Animal_Handling.proficient]]} % [[X.Animal_Handling.origin]]
\SetArcanaProficiency{[[X.Arcana.proficient]]}                  % [[X.Arcana.origin]]
\SetAthleticsProficiency{[[X.Athletics.proficient]]}            % [[X.Athletics.origin]]
\SetDeceptionProficiency{[[X.Deception.proficient]]}            % [[X.Deception.origin]]
\SetHistoryProficiency{[[X.History.proficient]]}                % [[X.History.origin]]
\SetInsightProficiency{[[X.Insight.proficient]]}                % [[X.Insight.origin]]
\SetIntimidationProficiency{[[X.Intimidation.proficient]]}      % [[X.Intimidation.origin]]
\SetInvestigationProficiency{[[X.Investigation.proficient]]}    % [[X.Investigation.origin]]
\SetMedicineProficiency{[[X.Medicine.proficient]]}              % [[X.Medicine.origin]]
\SetNatureProficiency{[[X.Nature.proficient]]}                  % [[X.Nature.origin]]
\SetPerceptionProficiency{[[X.Perception.proficient]]}          % [[X.Perception.origin]]
\SetPerformanceProficiency{[[X.Performance.proficient]]}        % [[X.Performance.origin]]
\SetPersuasionProficiency{[[X.Persuasion.proficient]]}          % [[X.Persuasion.origin]]
\SetReligionProficiency{[[X.Religion.proficient]]}              % [[X.Religion.origin]]
\SetSleightOfHandProficiency{[[X.Sleight_Of_Hand.proficient]]}  % [[X.Sleight_Of_Hand.origin]]
\SetStealthProficiency{[[X.Stealth.proficient]]}                % [[X.Stealth.origin]]
\SetSurvivalProficiency{[[X.Survival.proficient]]}              % [[X.Survival.origin]]

\Inspiration{}
\Proficiency{[[X.proficiency_bonus]]}
\Perception{[[X.perception]]}

\ArmorClass{[[X.ac]]} % [[X.ac.reason]]
\Initiative{[[X.initiative]]}   % [[X.initiative.reason]]
\Speed{\parbox{40pt}{\centering [[X.speed]]

[% if X.fly_speed %]\small{(Fly~[[X.fly_speed]])} % [[X.fly_speed.reason]] [% endif %]
[% if X.swim_speed %]\small{(Swim~[[X.swim_speed]])} % [[X.swim_speed.reason]] [% endif %]
}}
\MaxHitPoints{[[X.hp]]} % [[X.hp.reason]]


\MaxHitDice{[[X.max_hit_dice]]}
\CurrentHitDice{}

\CP{}
\SP{}
\GP{}
\EP{}
\PP{}

[% for weapon in X.weapons|sort %]
\AddWeapon{[[weapon.name]]}{[[weapon.atk_bonus]] % [[weapon.atk_bonus.reason]]
}{[[weapon.dmg_dice]][[weapon.dmg_bonus]]  % [[weapon.dmg_bonus.reason]]
/[[weapon.dmg_type.title()]]}
[% if weapon.mastery -%]\AddWeapon{}{}{[[weapon.mastery.title()]]}[%- endif -%]
[% if weapon.properties -%]
[% for property in weapon.properties %]
\AddWeapon{}{}{
[%- if property == "range" -%]
[[weapon.range[0]]]/[[weapon.range[1]]]
[%- else -%]
[[property.title()|replace("_", " ")]]
[%- endif -%]}
[%- endfor -%]
[%- endif %]
[%- endfor %]

[% for attack in X.additional_attacks %]
\AddWeapon{[[attack.name]]}{[[attack.atk_bonus]]}{[[attack.dmg_dice]][[attack.dmg_bonus]]/[[attack.dmg_type]]}
[% endfor %]

\AttacksAdditional{}

\OtherProficienciesLanguages{\textbf{Languages:}
[% for language in X.languages -%]
[[language.value.title()]][[ "," if not loop.last else ""]] % [[language.reason]]
[% endfor %] \\
\textbf{Weapons}:
[% for prof in X.weapon_proficiencies() -%] [[prof.value]][[ "," if not loop.last else ""]] % [[prof.reason]]
[% endfor -%] \\
\textbf{Armor}:
[% for prof in X.armour_proficiencies() -%][[prof.value]][[ "," if not loop.last else ""]] % [[prof.reason]]
[% endfor -%] \\
\textbf{Other}:
[% for prof in X.tool_proficiencies -%][[prof.value]][[ "," if not loop.last else ""]] % [[prof.reason]]
[% endfor -%]
}

\Equipment{
\textbf{Armor}: [[X.armour]] \\
[% if X.shield %]\textbf{Shield}: Shield \\[% endif -%]
\begin{itemize}
[%- for equip in X.equipment %]
\item [[equip]]
[%- endfor %]
\end{itemize}
}

\PersonalityTraits{
[% if X.damage_resistances %]\begin{itemize}
[% for dmg_type in X.damage_resistances %]\item [[dmg_type.value.title()]] Resistant % [[dmg_type.reason]]
[% endfor -%]
\end{itemize}
[% endif -%]
}

\Ideals{
\textbf{Senses:}
\begin{itemize}
[%- for sense in X.senses %]
\item [[sense.value]]   % [[sense.reason]]
[%- endfor %]
\end{itemize}
}

\Bonds{Lorem Bonds}

\Flaws{Lorem Flaws}

\FeaturesTraits{
[% for feat in X.feats -%]
[% if feat.hide %]
% [[feat.tag.title()|replace("_", " ")]]
[% else %]
\textbf{[[feat.tag.title()|replace("_", " ")]]}:
[[feat.desc]] \\
[% endif %]
[% endfor %]
}

% Appearance
\Age{[[X.age]]}
\Height{[[X.height]]}
\Weight{[[X.weight]]}
\Eyes{[[X.eyes]]}
\Skin{[[X.skin]]}
\Hair{[[X.hair]]}

% background

\CharacterAppearance{\includegraphics[width=5.75cm]{[[X.image]]}}
\AdditionalFeaturesAndTraits{
[% for ability in X.abilities -%]
[% if ability.hide %]
% [[ability.tag.title()|replace("_", " ")]]
[% else %]
\textbf{[[ability.tag.title()|replace("_", " ")]]}:
[[ability.desc]] \\
[% endif %]
[% endfor %]
}

\Characterbackground{[[X.class_special]]}

\Treasure{}
\AlliesAndOrganizations{}
\OrganizationName{\centering{}
}

%Magic
[% if X.spell_casting_ability %]
\SpellcastingClass{[[X.class_name.title()]] [[X.level]]}
\SpellcastingAbility{[[X.spell_casting_ability|title]]}
\SpellSaveDC{[[X.spell_save_dc]]}
\SpellAttackBonus{[[X.spell_attack_bonus]]}

\FirstLevelSpellSlotsTotal{[[X.spell_slots(1)]]}
\SecondLevelSpellSlotsTotal{[[X.spell_slots(2)]]}
\ThirdLevelSpellSlotsTotal{[[X.spell_slots(3)]]}
\FourthLevelSpellSlotsTotal{[[X.spell_slots(4)]]}
\FifthLevelSpellSlotsTotal{[[X.spell_slots(5)]]}
\SixthLevelSpellSlotsTotal{[[X.spell_slots(6)]]}
\SeventhLevelSpellSlotsTotal{[[X.spell_slots(7)]]}
\EighthLevelSpellSlotsTotal{[[X.spell_slots(8)]]}
\NinthLevelSpellSlotsTotal{[[X.spell_slots(9)]]}

[% for index, prepared, spell in X.level_spells(0) -%]
\CantripSlot[[index]]{[[spell]]}
[% endfor %]

[% for index, prepared, spell in X.level_spells(1) %]
\FirstLevelSpellSlot[[index]]{[[spell]]} \FirstLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.level_spells(2) %]
\SecondLevelSpellSlot[[index]]{[[spell]]} \SecondLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.level_spells(3) %]
\ThirdLevelSpellSlot[[index]]{[[spell]]} \ThirdLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.level_spells(4) %]
\FourthLevelSpellSlot[[index]]{[[spell]]} \FourthLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.level_spells(5) %]
\FifthLevelSpellSlot[[index]]{[[spell]] \FifthLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% endif %]

\begin{document}
\newgeometry{left=0cm,right=0cm,top=0cm,bottom=0cm}
\onecolumn

% CHARACTER PAGE
\pdfbookmark[0]{Character Sheet}{Character Sheet}
\rendercharactersheet

% BACKSTORY PAGE
\pdfbookmark[0]{Background Sheet}{Background Sheet}
\renderbackgroundsheet
[% if X.spell_casting_ability %]
% SPELLCASTING PAGE
\pdfbookmark[0]{Spellcasting Sheet}{Spellcasting Sheet}
[% if X.half_spell_sheet %]
\renderhalfspellsheet
[% else -%]
\renderspellsheet
[% endif -%]

[% if X.has_overflow_spells() %]
[% for index, prepared, spell in X.overflow_level_spells(0) %]
\CantripSlot[[index]]{[[spell]]}
[%- endfor %]

[% for index, prepared, spell in X.overflow_level_spells(1) %]
\FirstLevelSpellSlot[[index]]{[[spell]]} \FirstLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.overflow_level_spells(2) %]
\SecondLevelSpellSlot[[index]]{[[spell]]} \SecondLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.overflow_level_spells(3) %]
\ThirdLevelSpellSlot[[index]]{[[spell]]} \ThirdLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.overflow_level_spells(4) %]
\FourthLevelSpellSlot[[index]]{[[spell]]} \FourthLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% for index, prepared, spell in X.overflow_level_spells(5) %]
\FifthLevelSpellSlot[[index]]{[[spell]]} \FifthLevelSpellSlot[[index]]Prepared{[%- if prepared %]True[% else %]False[%- endif -%]}
[%- endfor %]

[% if X.half_spell_sheet %]
\renderhalfspellsheet
[% else -%]
\renderspellsheet
[% endif -%]

[% endif %] [# if X.has_overflow_spells() #]
[% endif %] [# if X.spell_casting_ability #]

\end{document}
