\documentclass[a4,openany,oneside,twocolumn]{book}

\usepackage[justified]{dnd}
\usepackage{ifthen}

\usepackage{dndtemplate}
\usepackage{bookmark}

\setlength\oddsidemargin{\dimexpr(\paperwidth-\textwidth)/2 - 1in\relax}
\setlength\evensidemargin{\oddsidemargin}

% Headline
\CharacterName{[[X.name]]}

% adds only main class and total level to prevent overflow
\Class{[[X.char_class]] [[X.level]]}
\Background{[[X.origin]]}
\PlayerName{[[X.player_name]]}
\Race{[[X.species.title()]]}
\Alignment{[[X.alignment]]}
\XP{Milestone}

% Ability scores
\StrengthScore{[[X.strength.value]]}
\DexterityScore{[[X.dexterity.value]]}
\ConstitutionScore{[[X.constitution.value]]}
\IntelligenceScore{[[X.intelligence.value]]}
\WisdomScore{[[X.wisdom.value]]}
\CharismaScore{[[X.charisma.value]]}

% Ability modifiers
\StrengthModifier{[[X.strength.modifier]]}
\DexterityModifier{[[X.dexterity.modifier]]}
\ConstitutionModifier{[[X.constitution.modifier]]}
\IntelligenceModifier{[[X.intelligence.modifier]]}
\WisdomModifier{[[X.wisdom.modifier]]}
\CharismaModifier{[[X.charisma.modifier]]}

% Saving Throws
\StrengthSavingThrowModifier{[[X.strength.saving_throw]]}
\DexteritySavingThrowModifier{[[X.dexterity.saving_throw]]}
\ConstitutionSavingThrowModifier{[[X.constitution.saving_throw]]}
\IntelligenceSavingThrowModifier{[[X.intelligence.saving_throw]]}
\WisdomSavingThrowModifier{[[X.wisdom.saving_throw]]}
\CharismaSavingThrowModifier{[[X.charisma.saving_throw]]}

\AcrobaticsSkillModifier{[[X.Acrobatics.modifier]]}
\AnimalHandlingSkillModifier{[[X.Animal_Handling.modifier]]}
\ArcanaSkillModifier{[[X.Arcana.modifier]]}
\AthleticsSkillModifier{[[X.Athletics.modifier]]}
\DeceptionSkillModifier{[[X.Deception.modifier]]}
\HistorySkillModifier{[[X.History.modifier]]}
\InsightSkillModifier{[[X.Insight.modifier]]}
\IntimidationSkillModifier{[[X.Intimidation.modifier]]}
\InvestigationSkillModifier{[[X.Investigation.modifier]]}
\MedicineSkillModifier{[[X.Medicine.modifier]]}
\NatureSkillModifier{[[X.Nature.modifier]]}
\PerceptionSkillModifier{[[X.Perception.modifier]]}
\PerformanceSkillModifier{[[X.Performance.modifier]]}
\PersuasionSkillModifier{[[X.Persuasion.modifier]]}
\ReligionSkillModifier{[[X.Religion.modifier]]}
\SleightOfHandSkillModifier{[[X.Sleight_Of_Hand.modifier]]}
\StealthSkillModifier{[[X.Stealth.modifier]]}
\SurvivalSkillModifier{[[X.Survival.modifier]]}

% Proficiencies
\SetStrengthProficiency{[[X.strength.proficient]]}
\SetDexterityProficiency{[[X.dexterity.proficient]]}
\SetConstitutionProficiency{[[X.constitution.proficient]]}
\SetIntelligenceProficiency{[[X.intelligence.proficient]]}
\SetWisdomProficiency{[[X.wisdom.proficient]]}
\SetCharismaProficiency{[[X.charisma.proficient]]}

\SetAcrobaticsProficiency{[[X.Acrobatics.proficient]]}
\SetAnimalHandlingProficiency{[[X.Animal_Handling.proficient]]}
\SetArcanaProficiency{[[X.Arcana.proficient]]}
\SetAthleticsProficiency{[[X.Athletics.proficient]]}
\SetDeceptionProficiency{[[X.Deception.proficient]]}
\SetHistoryProficiency{[[X.History.proficient]]}
\SetInsightProficiency{[[X.Survival.proficient]]}
\SetIntimidationProficiency{[[X.Intimidation.proficient]]}
\SetInvestigationProficiency{[[X.Investigation.proficient]]}
\SetMedicineProficiency{[[X.Medicine.proficient]]}
\SetNatureProficiency{[[X.Nature.proficient]]}
\SetPerceptionProficiency{[[X.Perception.proficient]]}
\SetPerformanceProficiency{[[X.Performance.proficient]]}
\SetPersuasionProficiency{[[X.Persuasion.proficient]]}
\SetReligionProficiency{[[X.Religion.proficient]]}
\SetSleightOfHandProficiency{[[X.Sleight_Of_Hand.proficient]]}
\SetStealthProficiency{[[X.Stealth.proficient]]}
\SetSurvivalProficiency{[[X.Survival.proficient]]}

\Inspiration{}
\Proficiency{[[X.proficiency_bonus]]}
\Perception{14}

\ArmorClass{[[X.ac]]}
\Initiative{[[X.initiative]]}
\Speed{[[X.speed]]}
\MaxHitPoints{[[X.hp]]}


\MaxHitDice{[[X.hit_dice]]}
\CurrentHitDice{}

\CP{}
\SP{}
\GP{}
\EP{}
\PP{}

[% for name, weapon in X.weapons.items() %]
\AddWeapon{[[name.title()]]}{[[weapon.atk_bonus]]}{[[weapon.dmg_dice]]+[[weapon.dmg_bonus]]/[[weapon.dmg_type]]}
[%- endfor %]

\AttacksAdditional{
\textbf{Armor}: [[X.armour]] \\
[% if X.shield %]\textbf{Shield}: Shield \\[% endif -%]
\textbf{Sacred Flame}: sv. 12 (dex), dmg 1d8/r \\
\textbf{Guiding Bolt}: att. +4, dmg 4d6/r \\
\textbf{Holy Symbol}: a coin depicting the push and pull of luck and fate
}

\OtherProficienciesLanguages{\textbf{Languages:} Common, TBA. \\
\textbf{Weapons}: TBA \\
\textbf{Armor}: TBA \\
\textbf{Other}: TBA \\}

\Equipment{
[%- for equip in X.equipment %]
[[equip]]
[%- endfor %]
\\ \footnotesize{
\textbf{Weight:} [[X.weight]] lb \textbf{Capacity:} [[X.capacity]] lb
}}

\PersonalityTraits{Lorem}

\Ideals{Lorem}

\Bonds{Lorem}

\Flaws{Lorem}

\FeaturesTraits{
[% for name, feat in X.feats.items() -%]
\textbf{[[name]]}:
[[feat.desc]]
[%- endfor %]
}


% Appearance

\Age{[[X.age]]}
\Height{[[X.height]]}
\Weight{[[X.weight]]}
\Eyes{[[X.eyes]]}
\Skin{[[X.skin]]}
\Hair{[[X.hair]]}

% background

\CharacterAppearance{\includegraphics[width=5.75cm]{characters/images/hilmar.jpeg}}
\AdditionalFeaturesAndTraits{Lorum}

\Characterbackground{Lorum}

\Treasure{}

\AlliesAndOrganizations{}

\OrganizationName{\centering{}
}


%Magic
\SpellcastingClass{[[X.char_class]] [[X.level]]}
\SpellcastingAbility{[[X.spell_casting_ability]]}
\SpellSaveDC{[[X.spell_save_dc]]}
\SpellAttackBonus{[[X.spell_attack_bonus]]}

\FirstLevelSpellSlotsTotal{4}
\SecondLevelSpellSlotsTotal{3}
\ThirdLevelSpellSlotsTotal{2}


\begin{document}
\newgeometry{left=0cm,right=0cm,top=0cm,bottom=0cm}
\onecolumn


% CHARACTER PAGE
\pdfbookmark[0]{Character Sheet}{Character Sheet}
\rendercharactersheet

% BACKSTORY PAGE
\pdfbookmark[0]{Background Sheet}{Background Sheet}
\renderbackgroundsheet

% SPELLCASTING PAGE
\pdfbookmark[0]{Spellcasting Sheet}{Spellcasting Sheet}
\CantripSlotA{Fast Friends}
\CantripSlotB{Guidance (V/S/C)}
\CantripSlotC{Incite Greed}
\CantripSlotD{Motivational Speech}
\CantripSlotE{Sacred Flame (V/S)}
\CantripSlotF{Spirit Shroud}
\CantripSlotG{Thaumaturgy (V)}
\FirstLevelSpellSlotA{Bane (V/S/M/C)}
\FirstLevelSpellSlotB{Bless (V/S/M/C)}
\FirstLevelSpellSlotBPrepared{True}
\FirstLevelSpellSlotC{Ceremony (V/S/M/R/\$)}
\FirstLevelSpellSlotD{Charm Person (V/S)}
\FirstLevelSpellSlotDPrepared{True}
\FirstLevelSpellSlotE{Command (V)}
\FirstLevelSpellSlotF{Create Or Destroy Water (V/S/M)}
\FirstLevelSpellSlotG{Cure Wounds (V/S)}
\FirstLevelSpellSlotGPrepared{True}
\FirstLevelSpellSlotH{Detect Evil And Good (V/S/C)}
\FirstLevelSpellSlotI{Detect Magic (V/S/R/C)}
\FirstLevelSpellSlotIPrepared{True}
\FirstLevelSpellSlotJ{Detect Poison And Disease (V/S/M/C)}
\FirstLevelSpellSlotK{Disguise Self (V/S)}
\FirstLevelSpellSlotKPrepared{True}
\FirstLevelSpellSlotL{Guiding Bolt (V/S)}
\FirstLevelSpellSlotLPrepared{True}
\FirstLevelSpellSlotM{Guiding Hand (V/S/R/C)}
\FirstLevelSpellSlotN{Healing Word (V)}
\FirstLevelSpellSlotO{Inflict Wounds (V/S)}
\FirstLevelSpellSlotP{Protection From Evil And Good (V/S/M/C)}
\FirstLevelSpellSlotQ{Purify Food And Drink (V/S/R)}
\FirstLevelSpellSlotR{Sanctuary (V/S/M)}
\FirstLevelSpellSlotS{Shield Of Faith (V/S/M/C)}

\SecondLevelSpellSlotA{Aid (V/S/M)}
\SecondLevelSpellSlotB{Augury (V/S/M/R/\$)}
\SecondLevelSpellSlotC{Blindness/Deafness (V)}
\SecondLevelSpellSlotD{Calm Emotions (V/S/C)}
\SecondLevelSpellSlotDPrepared{True}
\SecondLevelSpellSlotE{Continual Flame (V/S/M/\$)}
\SecondLevelSpellSlotF{Enhance Ability (V/S/M/C)}
\SecondLevelSpellSlotG{Find Traps (V/S)}
\SecondLevelSpellSlotH{Gentle Repose (V/S/M/R)}
\SecondLevelSpellSlotI{Hold Person (V/S/M/C)}
\SecondLevelSpellSlotJ{Lesser Restoration (V/S)}
\SecondLevelSpellSlotK{Locate Object (V/S/M/C)}
\SecondLevelSpellSlotL{Mirror Image (V/S)}
\SecondLevelSpellSlotLPrepared{True}
\SecondLevelSpellSlotM{Pass Without Trace (V/S/M/C)}
\SecondLevelSpellSlotMPrepared{True}
\SecondLevelSpellSlotN{Prayer Of Healing (V)}
\SecondLevelSpellSlotO{Protection From Poison (V/S)}
\SecondLevelSpellSlotP{Silence (V/S/R/C)}
\SecondLevelSpellSlotQ{Spiritual Weapon (V/S)}
\SecondLevelSpellSlotQPrepared{True}
\SecondLevelSpellSlotR{Warding Bond (V/S/M/\$)}
\SecondLevelSpellSlotS{Zone Of Truth (V/S)}

\ThirdLevelSpellSlotA{Animate Dead (V/S/M)}
\ThirdLevelSpellSlotB{Aura Of Vitality (V/C)}
\ThirdLevelSpellSlotBPrepared{True}
\ThirdLevelSpellSlotC{Beacon Of Hope (V/S/C)}
\ThirdLevelSpellSlotD{Bestow Curse (V/S/C)}
\ThirdLevelSpellSlotE{Blink (V/S)}
\ThirdLevelSpellSlotEPrepared{True}
\ThirdLevelSpellSlotF{Clairvoyance (V/S/M/C/\$)}
\ThirdLevelSpellSlotG{Create Food And Water (V/S)}
\ThirdLevelSpellSlotH{Daylight (V/S)}
\ThirdLevelSpellSlotI{Dispel Magic (V/S)}
\ThirdLevelSpellSlotIPrepared{True}
\ThirdLevelSpellSlotJ{Feign Death (V/S/M/R)}
\ThirdLevelSpellSlotK{Glyph Of Warding (V/S/M/\$)}
\ThirdLevelSpellSlotL{Life Transference (V/S)}
\ThirdLevelSpellSlotM{Magic Circle (V/S/M/\$)}
\ThirdLevelSpellSlotN{Mass Healing Word (V)}
\ThirdLevelSpellSlotO{Meld Into Stone (V/S/R)}
\ThirdLevelSpellSlotP{Protection From Energy (V/S/C)}
\ThirdLevelSpellSlotQ{Remove Curse (V/S)}
\ThirdLevelSpellSlotR{Revivify (V/S/M/\$)}
\ThirdLevelSpellSlotS{Sending (V/S/M)}

\renderhalfspellsheet

\CantripSlotA{}
\CantripSlotB{}
\CantripSlotC{}
\CantripSlotD{}
\CantripSlotE{}
\CantripSlotF{}
\CantripSlotG{}

\FirstLevelSpellSlotA{}
\FirstLevelSpellSlotB{}
\FirstLevelSpellSlotBPrepared{False}
\FirstLevelSpellSlotC{}
\FirstLevelSpellSlotD{}
\FirstLevelSpellSlotDPrepared{False}
\FirstLevelSpellSlotE{}
\FirstLevelSpellSlotF{}
\FirstLevelSpellSlotG{}
\FirstLevelSpellSlotGPrepared{False}
\FirstLevelSpellSlotH{}
\FirstLevelSpellSlotI{}
\FirstLevelSpellSlotIPrepared{False}
\FirstLevelSpellSlotJ{}
\FirstLevelSpellSlotK{}
\FirstLevelSpellSlotKPrepared{False}
\FirstLevelSpellSlotL{}
\FirstLevelSpellSlotLPrepared{False}
\FirstLevelSpellSlotM{}
\FirstLevelSpellSlotN{}
\FirstLevelSpellSlotO{}
\FirstLevelSpellSlotP{}
\FirstLevelSpellSlotQ{}
\FirstLevelSpellSlotS{}
\FirstLevelSpellSlotR{}

\SecondLevelSpellSlotA{}
\SecondLevelSpellSlotB{}
\SecondLevelSpellSlotC{}
\SecondLevelSpellSlotD{}
\SecondLevelSpellSlotDPrepared{False}
\SecondLevelSpellSlotE{}
\SecondLevelSpellSlotF{}
\SecondLevelSpellSlotG{}
\SecondLevelSpellSlotH{}
\SecondLevelSpellSlotI{}
\SecondLevelSpellSlotJ{}
\SecondLevelSpellSlotK{}
\SecondLevelSpellSlotL{}
\SecondLevelSpellSlotLPrepared{False}
\SecondLevelSpellSlotM{}
\SecondLevelSpellSlotMPrepared{False}
\SecondLevelSpellSlotN{}
\SecondLevelSpellSlotO{}
\SecondLevelSpellSlotP{}
\SecondLevelSpellSlotQ{}
\SecondLevelSpellSlotQPrepared{False}
\SecondLevelSpellSlotR{}
\SecondLevelSpellSlotS{}

\ThirdLevelSpellSlotA{--- Overflow ---}
\ThirdLevelSpellSlotB{Speak With Dead (V/S/M)}
\ThirdLevelSpellSlotBPrepared{False}
\ThirdLevelSpellSlotC{Spirit Guardians (V/S/M/C)}
\ThirdLevelSpellSlotD{Tongues (V/M)}
\ThirdLevelSpellSlotE{Water Walk (V/S/M/R)}
\ThirdLevelSpellSlotEPrepared{False}
\ThirdLevelSpellSlotF{}
\ThirdLevelSpellSlotG{}
\ThirdLevelSpellSlotH{}
\ThirdLevelSpellSlotI{}
\ThirdLevelSpellSlotIPrepared{False}
\ThirdLevelSpellSlotJ{}
\ThirdLevelSpellSlotK{}
\ThirdLevelSpellSlotL{}
\ThirdLevelSpellSlotM{}
\ThirdLevelSpellSlotN{}
\ThirdLevelSpellSlotO{}
\ThirdLevelSpellSlotP{}
\ThirdLevelSpellSlotQ{}
\ThirdLevelSpellSlotR{}
\ThirdLevelSpellSlotS{}

\renderhalfspellsheet

\end{document}
