\documentclass[a4,openany,oneside,twocolumn]{book}

\usepackage[justified]{dnd}
\usepackage{ifthen}

\usepackage{dndtemplate}
\usepackage{bookmark}

\setlength\oddsidemargin{\dimexpr(\paperwidth-\textwidth)/2 - 1in\relax}
\setlength\evensidemargin{\oddsidemargin}

% Headline
\CharacterName{[[X.name]]}

\Class{[[X.char_class]] [[X.level]]}
\Background{[[X.origin.title()]]}
\PlayerName{[[X.player_name]]}
\Race{[[X.species.title()]]}
\Alignment{[[X.alignment]]}
\XP{Milestone}

% Ability scores
\StrengthScore{[[X.strength.value]]}
\DexterityScore{[[X.dexterity.value]]}
\ConstitutionScore{[[X.constitution.value]]}
\IntelligenceScore{[[X.intelligence.value]]}
\WisdomScore{[[X.wisdom.value]]}
\CharismaScore{[[X.charisma.value]]}

% Ability modifiers
\StrengthModifier{[[X.strength.modifier]]}
\DexterityModifier{[[X.dexterity.modifier]]}
\ConstitutionModifier{[[X.constitution.modifier]]}
\IntelligenceModifier{[[X.intelligence.modifier]]}
\WisdomModifier{[[X.wisdom.modifier]]}
\CharismaModifier{[[X.charisma.modifier]]}

% Saving Throws
\StrengthSavingThrowModifier{[[X.strength.saving_throw]]}
\DexteritySavingThrowModifier{[[X.dexterity.saving_throw]]}
\ConstitutionSavingThrowModifier{[[X.constitution.saving_throw]]}
\IntelligenceSavingThrowModifier{[[X.intelligence.saving_throw]]}
\WisdomSavingThrowModifier{[[X.wisdom.saving_throw]]}
\CharismaSavingThrowModifier{[[X.charisma.saving_throw]]}

\AcrobaticsSkillModifier{[[X.Acrobatics.modifier]]}
\AnimalHandlingSkillModifier{[[X.Animal_Handling.modifier]]}
\ArcanaSkillModifier{[[X.Arcana.modifier]]}
\AthleticsSkillModifier{[[X.Athletics.modifier]]}
\DeceptionSkillModifier{[[X.Deception.modifier]]}
\HistorySkillModifier{[[X.History.modifier]]}
\InsightSkillModifier{[[X.Insight.modifier]]}
\IntimidationSkillModifier{[[X.Intimidation.modifier]]}
\InvestigationSkillModifier{[[X.Investigation.modifier]]}
\MedicineSkillModifier{[[X.Medicine.modifier]]}
\NatureSkillModifier{[[X.Nature.modifier]]}
\PerceptionSkillModifier{[[X.Perception.modifier]]}
\PerformanceSkillModifier{[[X.Performance.modifier]]}
\PersuasionSkillModifier{[[X.Persuasion.modifier]]}
\ReligionSkillModifier{[[X.Religion.modifier]]}
\SleightOfHandSkillModifier{[[X.Sleight_Of_Hand.modifier]]}
\StealthSkillModifier{[[X.Stealth.modifier]]}
\SurvivalSkillModifier{[[X.Survival.modifier]]}

% Proficiencies
\SetStrengthProficiency{[[X.strength.proficient]]}
\SetDexterityProficiency{[[X.dexterity.proficient]]}
\SetConstitutionProficiency{[[X.constitution.proficient]]}
\SetIntelligenceProficiency{[[X.intelligence.proficient]]}
\SetWisdomProficiency{[[X.wisdom.proficient]]}
\SetCharismaProficiency{[[X.charisma.proficient]]}

\SetAcrobaticsProficiency{[[X.Acrobatics.proficient]]}
\SetAnimalHandlingProficiency{[[X.Animal_Handling.proficient]]}
\SetArcanaProficiency{[[X.Arcana.proficient]]}
\SetAthleticsProficiency{[[X.Athletics.proficient]]}
\SetDeceptionProficiency{[[X.Deception.proficient]]}
\SetHistoryProficiency{[[X.History.proficient]]}
\SetInsightProficiency{[[X.Survival.proficient]]}
\SetIntimidationProficiency{[[X.Intimidation.proficient]]}
\SetInvestigationProficiency{[[X.Investigation.proficient]]}
\SetMedicineProficiency{[[X.Medicine.proficient]]}
\SetNatureProficiency{[[X.Nature.proficient]]}
\SetPerceptionProficiency{[[X.Perception.proficient]]}
\SetPerformanceProficiency{[[X.Performance.proficient]]}
\SetPersuasionProficiency{[[X.Persuasion.proficient]]}
\SetReligionProficiency{[[X.Religion.proficient]]}
\SetSleightOfHandProficiency{[[X.Sleight_Of_Hand.proficient]]}
\SetStealthProficiency{[[X.Stealth.proficient]]}
\SetSurvivalProficiency{[[X.Survival.proficient]]}

\Inspiration{}
\Proficiency{[[X.proficiency_bonus]]}
\Perception{[[X.perception]]}

\ArmorClass{[[X.ac]]}
\Initiative{[[X.initiative]]}
\Speed{[[X.speed]]}
\MaxHitPoints{[[X.hp]]}


\MaxHitDice{[[X.hit_dice]]}
\CurrentHitDice{}

\CP{}
\SP{}
\GP{}
\EP{}
\PP{}

[% for name, weapon in X.weapons.items() %]
\AddWeapon{[[weapon.name.title()]]}{[[weapon.atk_bonus]]}{[[weapon.dmg_dice]][[weapon.dmg_bonus]]/[[weapon.dmg_type]]}
[%- endfor %]

\AttacksAdditional{
}

\OtherProficienciesLanguages{\textbf{Languages:} [[ X.languages|join(', ') ]] \\
\textbf{Weapons}: TBA \\
\textbf{Armor}: TBA \\
\textbf{Other}: TBA \\}

\Equipment{
\textbf{Armor}: [[X.armour]] \\
[% if X.shield %]\textbf{Shield}: Shield \\[% endif -%]
\begin{itemize}
[%- for equip in X.equipment %]
\item [[equip]]
[%- endfor %]
\end{itemize}
\\ \footnotesize{
\textbf{Weight:} [[X.weight]] lb \\
\textbf{Capacity:} [[X.capacity]] lb
}}

\PersonalityTraits{Lorem Traits}

\Ideals{Lorem Ideals}

\Bonds{Lorem Bonds}

\Flaws{Lorem Flaws}

\FeaturesTraits{
[% for name, feat in X.feats.items() -%]
\textbf{[[name.title()]]}:
[[feat.desc]] \\
[% endfor %]
}


% Appearance

\Age{[[X.age]]}
\Height{[[X.height]]}
\Weight{[[X.weight]]}
\Eyes{[[X.eyes]]}
\Skin{[[X.skin]]}
\Hair{[[X.hair]]}

% background

\CharacterAppearance{\includegraphics[width=5.75cm]{characters/images/hilmar.jpeg}}
\AdditionalFeaturesAndTraits{
[% for name, ability in X.abilities.items() -%]
\textbf{[[name.title()|replace("_", " ")]]}:
[[ability.desc]] \\
[% endfor %]
}

\Characterbackground{Lorum Background}

\Treasure{}

\AlliesAndOrganizations{}

\OrganizationName{\centering{}
}


%Magic
\SpellcastingClass{[[X.char_class]] [[X.level]]}
\SpellcastingAbility{[[X.spell_casting_ability]]}
\SpellSaveDC{[[X.spell_save_dc]]}
\SpellAttackBonus{[[X.spell_attack_bonus]]}

[% if X.spell_slots(1) %]
\FirstLevelSpellSlotsTotal{[[X.spell_slots(1)]]}
[% endif -%]
[% if X.spell_slots(2) %]
\SecondLevelSpellSlotsTotal{[[X.spell_slots(2)]]}
[% endif -%]
[% if X.spell_slots(3) %]
\ThirdLevelSpellSlotsTotal{[[X.spell_slots(3)]]}
[% endif -%]
[% if X.spell_slots(4) %]
\FourthLevelSpellSlotsTotal{[[X.spell_slots(4)]]}
[% endif -%]
[% if X.spell_slots(5) %]
\FifthLevelSpellSlotsTotal{[[X.spell_slots(5)]]}
[% endif -%]
[% if X.spell_slots(6) %]
\SixthLevelSpellSlotsTotal{[[X.spell_slots(6)]]}
[% endif -%]
[% if X.spell_slots(7) %]
\SeventhLevelSpellSlotsTotal{[[X.spell_slots(7)]]}
[% endif -%]
[% if X.spell_slots(8) %]
\EigthLevelSpellSlotsTotal{[[X.spell_slots(8)]]}
[% endif -%]
[% if X.spell_slots(9) %]
\NinthLevelSpellSlotsTotal{[[X.spell_slots(9)]]}
[% endif -%]



\begin{document}
\newgeometry{left=0cm,right=0cm,top=0cm,bottom=0cm}
\onecolumn


% CHARACTER PAGE
\pdfbookmark[0]{Character Sheet}{Character Sheet}
\rendercharactersheet

% BACKSTORY PAGE
\pdfbookmark[0]{Background Sheet}{Background Sheet}
\renderbackgroundsheet

% SPELLCASTING PAGE
\pdfbookmark[0]{Spellcasting Sheet}{Spellcasting Sheet}

[% for index, spell in X.spells(0) %]
\CantripSlot[[index]]{[[spell.name.title()|replace("_", " ")]]}
[% endfor -%]

[% for index, spell in X.spells(1) %]
\FirstLevelSpellSlot[[index]]{[[spell.name.title()|replace("_", " ")]]}
[% endfor -%]

[% for index, spell in X.spells(2) %]
\SecondLevelSpellSlot[[index]]{[[spell.name.title()|replace("_", " ")]]}
[% endfor -%]

[% for index, spell in X.spells(3) %]
\ThirdLevelSpellSlot[[index]]{[[spell.name.title()|replace("_", " ")]]}
[% endfor -%]


\renderhalfspellsheet

\end{document}
